flask
python-fasthtml
ruff
mypy
autopep8
black
anyio==4.6.0
autopep8==2.3.1
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
certifi==2024.8.30
click==8.1.7
fastcore==1.7.10
fastlite==0.0.11
Flask==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy==1.11.2
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pycodestyle==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-fasthtml==0.6.9
python-multipart==0.0.10
PyYAML==6.0.2
ruff==0.6.8
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlite-minutils==3.37.0.post3
starlette==0.39.1
typing_extensions==4.12.2
uvicorn==0.30.6
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.1
Werkzeug==3.0.4
anyio==4.6.0
autopep8==2.3.1
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
certifi==2024.8.30
click==8.1.7
fastcore==1.7.10
fastlite==0.0.11
Flask==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy==1.11.2
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-fasthtml==0.6.9
python-multipart==0.0.10
PyYAML==6.0.2
ruff==0.6.8
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlite-minutils==3.37.0.post3
starlette==0.39.1
typing_extensions==4.12.2
uvicorn==0.30.6
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.1
Werkzeug==3.0.4
